/* CSS para la página de gestión de productos */
.container {
    width: 80%;
    margin: 80px;
    margin-left: 310px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 2.5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    color: #4d42b3;
    margin-bottom: 20px;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="number"],
select,
input[type="file"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
}

button[type="submit"] {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #7d4ee9;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #562e9b;
}

select {
    background-color: #fff;
}

input[type="file"] {
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #7d4ee9;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-agregar, .btn-editar, .btn-eliminar {
    display: inline-block;
    padding: 10px 10px;
    margin: 2.5px;
    background-color: #5a6feb;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
    
}

.btn-agregar{
    font-size: 16px;
}
.btn-editar {
    background-color: #5a6feb;
    font-size: 13px;
}

.btn-eliminar {
    background-color: #9b4141;
    font-size: 13px;
}
.btn-volver {
    display: left;
    padding: 10px 20px;
    margin-right: 85%;
    background-color: #5a6feb;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;

}

.btn-agregar:hover, .btn-editar:hover, .btn-eliminar:hover, .btn-volver:hover {
    background-color: #4832ac;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}
.message {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.message.success {
    color: green;
}

.message.error {
    color: red;
}
